*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color:white;

}
body{
    background-color:rgb(21, 32, 43);
    font:14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    height:100vh;
}
.container{
    height: 100vh;
    display:flex;
    flex-direction:row;
}
header{
    height:100%;
    width:300px;
    padding-left:40px;
    display:flex;
    flex-direction:column;
    
}
.navigation{
    height:100%;
}
svg{
    fill: white;
}
.logo-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-left: 10px;

}
.logo-section:hover{
    background-color: #273340;
}
.logo{
    width:50px;
    height:30px;
}
.nav-items{
    
    height:100%;
    
}
.nav-items ul li{
    padding:0px 12px 20px 12px;
    font-size: 20px;
    
}
.nav-items ul:first-child{
    padding-top:12px;
}
.icon{
    margin-right:20px;
}
ul li a{
    padding:10px 25px 10px 10px;
    border-radius: 30px;
    
}
.nav-items ul li a:hover{
    background-color:#273340;
}
.item-text{
    margin-right:0 20px 0 20px;
}
.active{
    font-weight: 700;
    font-size: 20px;
}
.btn-tweet{
    background-color: #1d9bf0;
    height:52px;
    width:80%;
    text-align: center;
    border-radius: 30px;
    margin-top:0;
    margin-left:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.btn-text{
    font-size:15px;
    font-weight: 700;
}
.profile-details{
    display:flex;
    justify-content:space-evenly ;
    justify-self: flex-end;
    border-radius: 30px;
    padding:12px;
    align-items: center;
    margin-bottom:10px;
}
.profile-img > img{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.profile-details:hover{
    background-color: #273340;
}

main{
    width:calc(100vw - 300px);
    height:100vh;
    display: flex;
    justify-content: space-between;
}
.main-content{
    width:600px;
    height:100%;
    border-right: 1px solid rgb(56, 68, 77);
    border-left: 1px solid rgb(56, 68, 77);
    
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display:none;
}
.title-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:53px;
    padding:0 16px;
    background-color: rgb(21, 32, 43) ;
    opacity: 0.95;
    width: 597px;
    position:fixed;
    top:0;
    border-left: 1px solid rgb(56, 68, 77);
}

.post-section{
    display:flex;
    justify-content: space-between;
    padding:57px 16px 12px 16px;
    width:100%;
    border-bottom: 1px solid rgb(56, 68, 77);
}
.profile{
    width:52px;
    height:52px;
}
.profile img{
    width:48px;
    height:48px;
    border-radius: 50%;
}
.post-text{
    display:flex;
    height:56px;
    

}
.post-text > input{
    width:500px;
    padding:12px 0px;
    color:silver;
    font-size:20px;
    background-color:rgb(21, 32, 43);
    border:none;
    
}
.post-actions{
    height:45px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.post-icons{
    display:flex;
}
.post-icon{
    width:34px;
    height:34px;
}
.post-icons img{
    width:20px;
    height:20px;
}
.post-tweet-btn{
    height:36px;
    width:76px;
    font-weight: 700;
    background-color:#1d9bf0;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.tweets-section{
    height:100%;
    padding:12px 16px;
    
}

.tweet-post{
    display:flex;
    margin-bottom:12px;
}
.tweet-detials{
    display:flex;
}
.margin{
    margin-right: 15px;
}
.name{
    font-size:15px;
    font-weight: 700;
    margin-right:5px;
}
.profile-id{
    color:#8B98A5;
}
.tweet{
    font-size:15px;
    font-weight: inherit;
}
.post-media{
    padding-top:12px;
    
}
.media{
    width:100%;
    border-radius: 16px;
}
.tweet-actions{
    display:flex;
    width:425px;
    justify-content: space-between;
}
.tweet-actions img{
    height:18.75px;
    width:18.75px;
}
.tweet-action{
    display:flex;
    justify-content: center;
    align-items: center;
    width:35px;
    height:35px;
    border-radius: 30px;
    

}
.tweet-action:hover{
    background-color:#273340;
}

.side-bar{
    
    height: 100vh;
    width: calc(100% - 598px);
}
